In [1]:
%run recommend.py

In [2]:
virtual_store = ['つけ麺', '魚介', '太い']
search_similar_stores(virtual_store)

,ID,name,url,score,avg_cos_sim_rate
0,260,六厘舎 大崎店,https://tabelog.com/tokyo/A1316/A131604/13167354/,3.70,0.492087
1,82,銀座 朧月,https://tabelog.com/tokyo/A1301/A130101/13118141/,3.78,0.488608
2,69,六厘舎,https://tabelog.com/tokyo/A1302/A130201/13093047/,3.79,0.487176
3,72,麺屋吉左右,https://tabelog.com/tokyo/A1313/A131303/13021140/,3.79,0.483532
4,296,麺屋縁道,https://tabelog.com/tokyo/A1313/A131303/13166175/,3.69,0.480751

In [3]:
%run recommend.py

In [4]:
virtual_store = ['辛い', '激辛']
search_similar_stores(virtual_store)

,ID,name,url,score,avg_cos_sim_rate
0,292,担々麺 辣椒漢 神田本店,https://tabelog.com/tokyo/A1310/A131002/13045967/,3.69,0.674989
1,377,ビンギリ,https://tabelog.com/tokyo/A1319/A131906/13126311/,3.67,0.648576
2,188,希須林 担々麺屋 赤坂店,https://tabelog.com/tokyo/A1308/A130801/13020232/,3.72,0.630631
3,131,らぁ麺やまぐち 辣式,https://tabelog.com/tokyo/A1313/A131303/13186890/,3.75,0.629083
4,344,旨辛タンメン 荒木屋,https://tabelog.com/tokyo/A1315/A131503/13180932/,3.68,0.621423

In [5]:
%run recommend.py

In [6]:
virtual_store = ['二郎', 'ヤサイ', 'ニンニク', 'アブラ', 'モヤシ', 'ブタ']
search_similar_stores(virtual_store)

,ID,name,url,score,avg_cos_sim_rate
0,360,ラーメン二郎 上野毛店,https://tabelog.com/tokyo/A1317/A131715/13010417/,3.67,0.644583
1,366,ラーメン二郎 荻窪店,https://tabelog.com/tokyo/A1319/A131906/13006060/,3.67,0.637955
2,150,ラーメン二郎 八王子野猿街道店 ２,https://tabelog.com/tokyo/A1329/A132904/13025633/,3.74,0.629721
3,335,ラーメン二郎 千住大橋駅前店,https://tabelog.com/tokyo/A1324/A132402/13090912/,3.68,0.623892
4,266,ラーメン二郎 小岩店,https://tabelog.com/tokyo/A1312/A131204/13021952/,3.70,0.621472

In [1]:
%run recommend.py

In [2]:
virtual_store = [
    '激辛', 'ケーキ', 'スープ', '明るい', 'もやし', '多め', '二郎系'
]
search_similar_stores(virtual_store)

,ID,name,url,score,avg_cos_sim_rate
0,488,ラーメン二郎 池袋東口店,https://tabelog.com/tokyo/A1305/A130501/13003881/,3.64,0.479930
1,366,ラーメン二郎 荻窪店,https://tabelog.com/tokyo/A1319/A131906/13006060/,3.67,0.479623
2,228,ラーメン二郎 桜台駅前店,https://tabelog.com/tokyo/A1321/A132101/13038383/,3.71,0.477710
3,491,用心棒,https://tabelog.com/tokyo/A1310/A131003/13085246/,3.64,0.471645
4,150,ラーメン二郎 八王子野猿街道店 ２,https://tabelog.com/tokyo/A1329/A132904/13025633/,3.74,0.471158

In [16]:
%run recommend.py

In [17]:
virtual_store = ['チャーシュー', '大盛り']
search_similar_stores(virtual_store)

,ID,name,url,score,avg_cos_sim_rate
0,369,ラーメン ミンミン,https://tabelog.com/tokyo/A1312/A131203/13017949/,3.67,0.544650
1,214,麺 高はし,https://tabelog.com/tokyo/A1323/A132305/13003780/,3.72,0.539308
2,290,ひとしなや,https://tabelog.com/tokyo/A1315/A131504/13172192/,3.69,0.533897
3,295,えにし,https://tabelog.com/tokyo/A1317/A131712/13003424/,3.69,0.531972
4,102,麺 みつヰ,https://tabelog.com/tokyo/A1311/A131102/13203387/,3.77,0.525853

In [10]:
%run recommend.py

In [13]:
virtual_store = ['家系', '小松菜', 'ライス']
search_similar_stores(virtual_store)

,ID,name,url,score,avg_cos_sim_rate
0,324,まこと家,https://tabelog.com/tokyo/A1315/A131501/13018507/,3.68,0.530734
1,341,いずみ家,https://tabelog.com/tokyo/A1317/A131712/13153491/,3.68,0.519112
2,290,ひとしなや,https://tabelog.com/tokyo/A1315/A131504/13172192/,3.69,0.518372
3,187,神田ラーメン わいず,https://tabelog.com/tokyo/A1310/A131002/13004111/,3.72,0.517685
4,73,田中商店 本店,https://tabelog.com/tokyo/A1324/A132404/13003726/,3.79,0.502956

In [3]:
%run recommend.py

In [4]:
virtual_store = ['辛い', 'カレー', '味噌ラーメン', '太い']
search_similar_stores(virtual_store)

,ID,name,url,score,avg_cos_sim_rate
0,476,ラーメン スリーエスオー,https://tabelog.com/tokyo/A1327/A132701/13111245/,3.65,0.407650
1,105,スパイス・ラー麺 卍力 西葛西店,https://tabelog.com/tokyo/A1313/A131305/13168253/,3.77,0.406603
2,127,大塚屋,https://tabelog.com/tokyo/A1309/A130904/13000475/,3.75,0.402809
3,311,らぁめん 一福,https://tabelog.com/tokyo/A1318/A131807/13004351/,3.69,0.402796
4,457,汁なし担担麺ピリリ,https://tabelog.com/tokyo/A1302/A130204/13197440/,3.65,0.402595

In [5]:
%run recommend.py

In [6]:
virtual_store = ['辛い', 'カレー', '味噌ラーメン', '太い', 'カラオケ']
search_similar_stores(virtual_store)

,ID,name,url,score,avg_cos_sim_rate
0,339,一途,https://tabelog.com/tokyo/A1317/A131710/13161190/,3.68,0.400942
1,476,ラーメン スリーエスオー,https://tabelog.com/tokyo/A1327/A132701/13111245/,3.65,0.398554
2,176,麺屋KABOちゃん,https://tabelog.com/tokyo/A1323/A132301/13151928/,3.73,0.393910
3,311,らぁめん 一福,https://tabelog.com/tokyo/A1318/A131807/13004351/,3.69,0.393368
4,459,らぁめん 生姜は文化。,https://tabelog.com/tokyo/A1323/A132301/13224621/,3.65,0.388377